* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    position: absolute;
    background: black;
}

/* #moveControlSurface {
    position: absolute;
    left: 0;
    background: hsla(120,100%,50%,0.25);
}
#aimControlSurface {
    position: absolute;
    right: 0;
    background: hsla(360,100%,45%,0.25);
}
 */
.debug {
    position: absolute;
    z-index: 1;
    background: transparent;
}

.debug p {
    color: white;
    user-select: none;
}